@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a prototype for an idea for the 2015 Paycor Innovation Day.</p>

<p>As of 4/26/2015, contributors are:  Dian, Swetha, Teresa, Tom, Chris, Vinay, RJ, Colin, Kyle, Tam</p>

<address>
    <strong>Contact Us:</strong>   <a href="mailto:hrfusion-scrum@paycor.com">.HRFUSION-SCRUM</a><br />
</address>
