@{
    ViewBag.Title = "Contact";
}
<h2>Profile</h2>
<h3>Your Information</h3>

<h2>Your Address</h2>

<address>
    103 Main Street<br />
    Cincinnati, OH 45212<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>


<h2>Your Interests/Needs</h2>

    <strong>Needing rides/strong><br />
    <strong>Ping Pong</strong><br />
    <strong>Tai Chi</strong><br />

